<div class="task-bar">
<h1><%= @task.title %></h1>
<%= link_to '<div class="btn btn-primary"><i class="fas fa-edit"></i> Edit this task</div>'.html_safe, edit_path %>
</div>
<div class="details"><%= @task.details %></div>

<div class="task-line">
    <input type="checkbox" <%= "checked" if @task.completed == true %> >
    <label>This task is <%= @task.completed == true ? "completed" : "not yet completed" %></label>
  </div>

<%= link_to '<i class="fas fa-undo-alt"></i> Back to List'.html_safe, tasks_path %>
