<div class="task-bar">
<h1><%= @task.title %></h1>
<%= link_to '<div class="btn btn-primary">Edit this task</div>'.html_safe, tasks_path %>
</div>
<div class="details"><%= @task.details %></div>

<div class="task-line">
    <input type="checkbox" <%= "checked" if @task.completed == true %> >
    <label>This task is <%= @task.completed == true ? "completed" : "not yet completed" %></label>
  </div>

<i class="fas fa-undo-alt" color="black"></i><%= link_to "Back to List", tasks_path %>
